# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
desktop.ini
Thumbs.db

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Logs
*.log

# Build output
dist/
build/
out/

# Environment
.env
.env.local
.env.*.local

# Misc
*.swp
*.bak
*.tmp
*.bkp

# Coverage
coverage/
*.lcov

# Others
*.tgz
*.gz

